@mixin close-pseudo
  position: absolute
  left: 15px
  content: " "
  height: 33px
  width: 3px
  background-color: #fff
  
@mixin mobile-only
  @media screen and (max-width: 540px)
    @content

@mixin tablet-only
  @media screen and (max-width: 768px)
    @content

@mixin input-control($state: "valid")
  $color: null
  @if ($state == "valid")
    $color: green
  @else
    $color: #e54858

  background-color: lighten($color, 70%)
  border: 2px solid $color
  color: $color